@charset "utf-8";
@import '../../assets/scss/partials/grid_system.scss',
  '../../assets/scss/partials/media_query.scss',
  '../../assets/scss/partials/mixin.scss',
  '../../assets/scss/partials/theme.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [data-theme='#{$theme}'] {
    .login {
      @include FlexCenter();
      flex-direction: column;
      flex: 1;
      max-width: 600px;
      width: 100%;

      .sns-area {
        padding: 5%;
        font-size: 0;

        button {
          font-size: inherit;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
