@charset "utf-8";
@import '../../assets/scss/partials/mixin.scss',
  '../../assets/scss/partials/theme.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [data-theme='#{$theme}'] {
    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;

      .logo-section {
        @include FlexCenter();
        flex: 1;
        text-align: center;

        h1 {
          position: relative;
          font-size: 20vw;

          &::before {
            @include Position(absolute, $top: -16px, $left: -6px);
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            background: url(images/login/icon_hoki.png) no-repeat center/cover;
          }

          & + h2 {
            margin-top: 4vw;
          }
        }

        h2 {
          font-size: 8vw;
        }
      }

      .login-section {
        padding: 4vw;
        font-size: 0;

        button {
          font-size: inherit;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
