@charset "utf-8";
@import '../../assets/scss/partials/grid_system.scss',
  '../../assets/scss/partials/media_query.scss',
  '../../assets/scss/partials/mixin.scss',
  '../../assets/scss/partials/theme.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [data-theme='#{$theme}'] {
    .login {
      @include GridSystem(2, 2, 1, 50%);
      overflow: hidden;
      padding: 0 4%;

      section {
        @include FlexCenter();
        flex-direction: column;
      }

      .banner-section {
        position: relative;
        width: 100%;

        .swiper-area {
          width: inherit;
          text-align: center;

          img {
            position: relative;
            width: 80%;
            height: 100%;
            border-radius: 8px;
            object-fit: contain;

            &::before {
              @include Position(absolute, 0, 0, 0, 0);
              content: '';
              background-color: rgba(0, 0, 0, 0.2);
              z-index: 10;
            }
          }
        }
      }

      .login-section {
        flex-direction: column;

        .logo-area {
          @include FlexCenter();
          flex: 1;
          text-align: center;

          h1 {
            position: relative;
            display: inline-block;
            font-size: 6rem;

            &::before {
              @include Position(absolute, $top: -14px, $left: -6px);
              content: '';
              display: block;
              width: 32px;
              height: 32px;
              background: url(images/login/icon_hoki.png) no-repeat center/cover;
            }
          }

          h2 {
            font-size: 2rem;
          }
        }

        .sns-area {
          padding: 4%;
          font-size: 0;

          button {
            font-size: inherit;
          }
        }
      }
    }

    @include Mobile {
      .login {
        @include GridSystem(2, 2, 1, 1fr);

        .banner-section {
          display: none !important;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
