@charset "utf-8";
@import '../../assets/scss/partials/mixin.scss',
  '../../assets/scss/partials/theme.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [data-theme='#{$theme}'] {
    .input-wrap {
      display: flex;
      gap: 10px;

      .input-label {
        position: relative;
        flex: 1;

        .input {
          width: 100%;
          height: 50px;
          padding: 0 10px;
          border: solid 1px $grayscale-3;
          border-radius: 4px;
          background-color: $grayscale-6;
          font-size: 16px;
          line-height: 50px;
          color: $grayscale-1;
          outline: 0;

          &::placeholder {
            font-size: 14px;
            color: $grayscale-2;
          }

          &:focus[data-validation='true'] {
            border-color: $primary-color;
            color: $primary-color;
          }

          &:focus[data-validation='false'] {
            border-color: $secondary-color;
            color: $secondary-color;
          }
        }

        p {
          @include Position(absolute, $bottom: -16px, $left: 10px);
          font-size: 16px;
          color: $secondary-color;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
