@charset "utf-8";
@import '../../assets/scss/partials/media_query.scss',
  '../../assets/scss/partials/mixin.scss';

.modal-popup {
  @include Position(fixed, 0, 0, 0, 0);
  z-index: 100;

  .backdrop {
    @include Position(fixed, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-content {
    @include Position(absolute, 32px, 32px, 32px, 32px);
    z-index: 1;
    border-radius: 8px;
    background-color: #fff;

    .btn-popup-close {
      @include Position(absolute, $top: -20px, $right: -20px);
      z-index: 10;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 0;

      svg {
        fill: #fff;

        path {
          fill: #fff;
        }
      }
    }
  }
}

@include Mobile {
}
