@charset "utf-8";
@import '../../assets/scss/partials/media_query.scss',
  '../../assets/scss/partials/mixin.scss',
  '../../assets/scss/partials/theme.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [data-theme='#{$theme}'] {
    .signup {
      @include FlexCenter();

      & > section {
        flex: 1;
      }
    }

    .signup-section {
      @include FlexCenter();
      flex: 1;

      .signup-form {
        width: 100%;
        padding: 5%;

        fieldset {
          display: flex;
          flex-direction: column;
          gap: 30px;

          h3 {
            margin-bottom: 10px;
            font-size: 16px;
            color: $grayscale-1;
          }
        }

        .input-box {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        .file-upload {
          display: flex;
          gap: 10px;

          .preview-wrap {
            flex: 1;
            padding: 2vw;
            border: 1px $grayscale-3 solid;
            border-radius: 4px;

            .preview {
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              z-index: -1;
              object-fit: contain;
              border-radius: 4px;

              &[src*='image']::before {
                display: none;
              }

              &::before {
                @include FlexCenter;
                content: '선택한 이미지를 확인하세요.';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $grayscale-6;
                font-size: 16px;
                color: $grayscale-2;
              }
            }
          }

          label {
            @include FlexCenter();
            height: 50px;
            padding: 0 20px;
            border-radius: 4px;
            border: 1px solid $grayscale-3;
            font-size: 16px;
            color: $grayscale-2;
            cursor: pointer;
            white-space: nowrap;

            &:active {
              border-color: $primary-color;
              color: $primary-color;
            }
          }

          input[type='file'] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
          }
        }

        .chip-area {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }

      .signup-complete {
        @include FlexCenter();
        flex-direction: column;
        gap: 40px;

        .lottie-wrap {
          width: 24vw;
        }

        span {
          font-size: 24px;
        }
      }
    }

    @include Desktop {
      .preview-wrap {
        height: 10vw;
      }
    }

    @include Tablet {
      .preview-wrap {
        height: 20vw;
      }
    }

    @include Mobile {
      .logo-section {
        display: none;
      }

      .preview-wrap {
        height: 50vw;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
